{% extends 'layout.html' %}

{% block document_title %}
<title>{{ f.name }} - {{ f.sport.name }} | SlotBookingApplication</title>
{% endblock %}

{% block sidebar %}
{% include 'side-bar.html' %}
{% endblock %}

{% block main %}

<main class="m-2">
  <div class="card p-2">
    <div class="display-4">{{ f.name }}</div>
    <div>Sport: {{ f.sport }}</div>
    <div>Type: {{ f.type }}</div>
    <div>Location: {{ f.location }}</div>
    <div>Google Map Link: {{ f.google_map_link }}</div>
    <div>Capacity: {{ f.capacity }}</div>
    <div>Inventory: {{ f.inventory }}</div>
    <div>Safety Regulations: {{ f.safety_regulations }}</div>
    <div>Remarks: {{ f.remarks }}</div>
  </div>
</main>
<hr />
<!-- For staff and admin -->
<main>
    {% if user.level != 300 %}
      <div class="h3">Current Slots</div>
    {% endif %}
    {% if user.level == 300 %}
      <div class="h3">
        Slots
      </div>
    {% endif %}

    {% if slots|length == 0 %}
    <p>There are no bookings for this facility!</p>
    {% else %}
    <div>
      {% for slot in slots %}
      <div class="m-2">
        {% include 'sport/slotCard.html' with slot=slot user=request.user %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
</main>

{% endblock %}