<div class="container">
  <!-- TODO: Might add facility name baadme -->
  <div class="row">
    <div class="col">
      {{ slotBooking.bookingDate }}
    </div>
    <div class="col">
      {{slotBooking.slot.duration }} mins
    </div>
    <div class="col">
      {{ slotBooking.slot.timeStart }}hrs - {{ slotBooking.slot.timeEnd }}hrs
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="text-muted">
        Booked by: {{ slotBooking.created_by }}
      </span>
    </div>
    <div class="col">
      <a class="btn btn-danger" href="{% url 'cancelSlotBooking' slotBooking.id %}">Cancel</a>
    </div>
  </div>
</div>